* { margin: 0; padding: 0; }

.App {
  /*text-align: center;*/
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header{
  background-color: #A1CDCA; 
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  z-index: 6;
}

.App-header nav, .search-books {
  max-width: 80%; 
  margin: 0 auto; 
}

.App-header nav ul, .mainContent ul { 
  list-style: none; 
}

.App-header nav ul li a { 
  font-size: 2em; 
  text-decoration: none; 
  color: #C84B65; 
}

.App-header nav ul li img {
  vertical-align: middle; 
  margin-right: 4px;
}

.App-intro {
  font-size: large;
}

.mainContent {
  max-width: 80%; 
  margin: 90px auto;
  padding: 16px 0px;
}
.mainContent h2 { 
  font-size: 1.5em; 
  font-weight: 100;
  color: #008C80; 
}

.list-books-content {
  /* padding: 0 0 80px; */
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    /* padding: 0 20px 40px; */
  }
}

.bookshelf-title {
  border-bottom: 1px solid #A1CDCA;
}

.bookshelf-title span {
  width: 50%;
  display: inline-block;
  text-align: left;
}

.bookshelf-title span:last-child {
  text-align: right;
}

.bookshelf-title span:last-child a {
  font-size: 0.7em;
  text-decoration: none;
  color: #008C80;
}

.bookshelf-books {
  text-align: center;
}

/* books grid */

.books-grid-detail{
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
} 

.books-grid-search{
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 

.books-grid-index {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  overflow: auto;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}
.bookshelf-books li a {
  text-decoration: none;
}

.book {
  width: 140px;
  padding: 20px 40px 10px 0;
  text-align: left;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title, .detail-title {
  margin-top: 10px;
  color: #008C80;
  margin-bottom: 2px;
}
.book-authors, .detail-authors  {
  color: #A1CDCA;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #008C80;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 1px solid #008C80;
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover, .detail-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  border: 1px solid #008C80;
  border-radius:2%;
  background-size: cover;
  background-position: center;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FAC023;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  border: 1px solid #F2CB05;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #A1CDCA;
  top: 80px;
  /* left: 0; */
  z-index: 5;
  display: flex;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23); */
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  color: #008C80;
}

.search-books-bar input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A1CDCA;
}
.search-books-bar input::-moz-placeholder { /* Firefox 19+ */
  color: #A1CDCA;
}
.search-books-bar input:-ms-input-placeholder { /* IE 10+ */
  color: #A1CDCA;
}
.search-books-bar input:-moz-placeholder { /* Firefox 18- */
  color: #A1CDCA;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  margin: 160px 0;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/



/* Book Detail Page */

.detail-cover {
  display: inline-block;
  margin-right: 10px;
  border: 0;
}

.detail-title-author {
  display: inline-block;
  vertical-align: top;
}

.detail-title {
  font-size: 2em;
  margin: 0 0 6px 0;
}

.detail-authors{
  font-size: 1.4em;
}

.detail {
  color: #008C80;
}

.detail h2 {
  color: #008C80;
  margin: 20px 0;
  border-bottom: 1px solid #A1CDCA;
}

.detail-description {
  font-size: 0.9em;
  line-height: 2em;
}

.detail-info {
  margin: 10px 0;
}

.detail-info label {
   font-weight: 400;
   margin-right: 10px;
   color: #A1CDCA;
}

.detail-info span {
  font-weight: 100;
}
